@import url("https://fonts.googleapis.com/css?family=Poppins");

/* GENERAL */

/* Palette de couleurs: */
:root {
  /* Couleur de la font */
  --color1: #09F7BB;
 /* Couleur du background */
  --color2: #383838;
}

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;;
}

html {
  scroll-behavior: smooth; /* Effet scroll doux: */
}

/* Page */

body {
  padding: 3rem 5rem;
  background: var(--color2);
  color: var(--color1);
}

main {
  opacity: 1;
  transition: 1s ease;
}

h1 {
  text-transform: uppercase; /* texte en majuscule */
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  padding-bottom: 2.5rem;
  
}
p {
  text-align: justify;
}

/* Sidebar */

.sidebar {
  position: absolute;
  width: 230px;
  height: 100%;
  color: var(--color2);
  background: var(--color1);
  top: 0;
  left: 0;
  transition: 0.5s ease-out;
  z-index: 4;
  transform:translateX(-230px);
}

.sidebar--deployed {
  transform: translateX(0);
}

/* Div hamburger */
.toggle-btn {
  position: absolute;
  top: 30px;
  left: 240px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.toggle-btn span {
  width: 60px;
  height: 10px;
  border-radius: 5px;
  background: #09fbba;
  display: block;
  margin-top: 4px;
  transition: 0.3s ease;
}

.toggle-btn.open .bar:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 8px;
}

.toggle-btn.open .bar:nth-child(2) {
  opacity: 0;
}

.toggle-btn.open .bar:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  bottom: 20px;
}

.content {
  cursor: pointer;
}

.content.opacity {
  opacity: 0.3;
}

ul{
  padding: 0;
}

li {
  list-style: none;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.5rem;
  padding-left: 0.7rem;
}

li:hover {
  background-color: rgb(36, 35, 35);
  color: aliceblue;
}








