@import url("https://fonts.googleapis.com/css?family=Poppins");

/* GENERAL */

/* Palette de couleurs: */
:root {
  /* Couleur de la font */
  --color1: #09F7BB;
 /* Couleur du background */
  --color2: #383838;
}

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;;
}

html {
  scroll-behavior: smooth; /* Effet scroll doux: */
}

/* Page */

body {
  padding: 3rem 5rem;
  background: var(--color2);
  color: var(--color1);
}

main {
  opacity: 1;
  transition: 0.5s ease;
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  padding-bottom: 2.5rem;
  
}
p {
  text-align: justify;
}

/* Sidebar */

.sidebar {
  position: absolute;
  top: 0;
  left: -12rem;
  color: var(--color2);
  background: var(--color1);
  width: 12rem;
  height: 100%;
  padding: 0;
  transition: 0.7s ease;
}

/* Gestion des icones */
i {
  scale: 5; 
}

/* Gestion de l'icône Xmark: */
.close-btn {
  background: none;
  border: none;
  font-size: 1rem; /* Ajuste la taille de l'icône */
  color: var(--color1);
  background-color: var(--color2);
  position: absolute;
  top:2rem;
  left:14rem;
  cursor: pointer;
  visibility: hidden;
  }

/* Gestion de l'icône Bars: */
.open-btn {
  background: none;
  border: none;
  font-size: fa-xs; /* Ajuste la taille de l'icône */
  color: var(--color1);
  background-color: var(--color2);
  position: absolute;
  top:2.5rem;
  left:14rem;
  cursor: pointer;
  z-index: 1;
}

ul{
  padding: 0;
}

li {
  list-style: none;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.5rem;
  padding-left: 0.5rem;
}

li:hover {
  background-color: rgb(36, 35, 35);
  color: aliceblue;
}








